<template>
  <q-page class="">
    <p>{{clients.clients}}</p>
 <div class="q-py-md  q-gutter-y-md">
        <q-toolbar  class="q-mt-lg">
          <q-space ></q-space>
          <q-btn flat round dense icon="search" class="q-mr-xs" />
          <q-toggle
       v-model="expandAll"
        class="q-mr-xl "
        checked-icon="check"
        label="Expand all"
        unchecked-icon="clear"

></q-toggle>
        </q-toolbar>
        <q-toolbar inset>
          <q-toolbar-title>
            <strong class="text-h4">Clients</strong>
          </q-toolbar-title>
        </q-toolbar>
      </div>

<div class="q-mt-lg">

 <q-expansion-item
      v-model="expanded1"
      bordered class="rounded-borders q-mx-xl "
      :class="{cardstyle:expanded1, cardStyleGray:!expanded1}"
        expand-separator
        icon="perm_identity"
        header-class="text-green"
        :label="'Active Clients ' + activeClients"
        :caption="lastdate"
      >
<client-component
:users="clients"

>

</client-component>
      </q-expansion-item>

</div>

      <q-expansion-item
       v-model="expanded2"
      bordered class="rounded-borders  q-ma-xl  cardStyleGray"
        expand-separator
        icon="perm_identity"
        header-class="text-grey"
        :label="'Done ' + activeClients"
        :caption="''"
      >
<ClientComponent
:users="{}"
>

</ClientComponent>
      </q-expansion-item>

  <q-expansion-item
        v-model="expanded3"
       bordered class="rounded-borders  q-ma-xl  card-style-inhurry"
        :class="{cardStyleInhurry:expanded3, cardStyleGray:!expanded3}"
        expand-separator
        icon="perm_identity"
        header-class="text-red"
        :label="'In hurry ' + activeClients"
        :caption="''"
      >
<ClientComponent
:users="{}"
>

</ClientComponent>
      </q-expansion-item>

  </q-page>

</template>

<script>
import ClientComponent from 'components/ClientComponent.vue'

import { mapState, mapActions } from 'vuex'

const activeCls = [
  {
    name: 'd',
    fam: 'd'
  },
  {
    name: 'g',
    fam: 's'
  },
  {
    name: 'ddfsfd',
    fam: 'qsfB'
  }
]

export default {
  components: { ClientComponent },
  data () {
    return {
      activeClients: activeCls.length,
      lastdate: 'Active clients',
      expanded1: false,
      expanded2: false,
      expanded3: false,
      expandAll: false,
      activeCls: activeCls
    }
  },
  watch: {
    expandAll () {
      if (this.expandAll) {
        this.expanded1 = true
        this.expanded2 = true
        this.expanded3 = true
      } else {
        this.expanded1 = false
        this.expanded2 = false
        this.expanded3 = false
      }
    }

  },
  computed: {
    ...mapState('clientStore', ['clients']),
    activeUsers () {
      return this.user
    }

  },
  methods: {
    ...mapActions('clientStore', ['syncClients'])

  },
  mounted () {
    this.syncClients()
  }

}
</script>

<style lang="stylus" scoped>
.cardstyle{
-webkit-box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
-moz-box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
}
.cardStyleGray{
-webkit-box-shadow: -4px 0px 53px -21px grey;
-moz-box-shadow: -4px 0px 53px -21px grey;
box-shadow: -4px 0px 53px -21px grey;
}
.cardStyleInhurry{
-webkit-box-shadow: -4px 0px 53px -21px red;
-moz-box-shadow: -4px 0px 53px -21px red;
box-shadow: -4px 0px 40px -21px red;
}

</style>
