<template>
  <q-page class="">

 <div class="q-py-md  q-gutter-y-md">
        <q-toolbar  class="q-mt-lg">
          <q-space ></q-space>
          <q-btn flat round dense icon="update" class="q-mr-xs" />
          <q-toggle
       v-model="expandAll"
        class="q-mr-xl "
        checked-icon="check"
        label="Expand all"
        unchecked-icon="clear"

></q-toggle>
        </q-toolbar>
        <q-toolbar inset>
          <q-toolbar-title>
            <strong class="text-h4">Clients</strong>
          </q-toolbar-title>
          <div class="q-pr-lg" >
              <q-icon name="fas fa-user-plus" size="sm" class="q-pa-md search"  @click="sliders = true" />
              <q-icon name="fas fa-search" size="sm" class="q-pa-md addClient"  />
          </div>
        </q-toolbar>
      </div>

<div class="q-ma-lg">

<client-component
:users="clients"
>

</client-component>

    <q-dialog v-model="sliders" @keyup.enter="addClientAndLeave">
      <q-card style="width: 300px" class="q-px-sm q-pb-md">
        <q-card-section>
          <div class="text-h6">New Client</div>
        </q-card-section>

        <q-item-label header>Client id {{id}}</q-item-label>

        <q-item dense>
          <q-item-section avatar>
            <q-icon name="people" />
          </q-item-section>
          <q-item-section>
         <q-input color="black" v-model="name" filled suggested="new-password" :type="'text'" label="Name"> </q-input>
          </q-item-section>
        </q-item>

        <q-item dense>
          <q-item-section avatar>
            <q-icon name="mail" />
          </q-item-section>
          <q-item-section>
          <q-input color="black" v-model="email" filled suggested="new-password" :type="'text'" label="Email"> </q-input>
          </q-item-section>
        </q-item>

        <q-item dense>
          <q-item-section avatar>
            <q-icon name="call" />
          </q-item-section>
          <q-item-section>
          <q-input color="black" v-model="tnmr" filled suggested="new-password" :type="'text'" label="Tel-nummer"> </q-input>
          </q-item-section>
        </q-item>

        <q-item dense>
          <q-item-section avatar class="flex">

          </q-item-section>
          <q-item-section>
                <div class="q-gutter-sm">
         <q-radio  v-model="gender" val="male" label="" >             <q-icon name="fas fa-male" size="md" /></q-radio>
             <q-radio  v-model="gender" val="female" label="" >   <q-icon name="fas fa-female" size="md"  /></q-radio>
    </div>

          </q-item-section>
        </q-item>
<div class="q-mt-md row justify-center">
    <q-btn class="q-mx-md" color="primary" icon="add" @click="addClientAndLeave" />
    <q-btn class="q-mx-md" color="primary" icon="align_horizontal_center" @click="addClientAndClear" />
    <q-btn class="q-mx-md" round color="red"  text-color="" icon="close" @click="close" />
</div>

      </q-card>
    </q-dialog>

</div>

<!--
      <q-expansion-item
       v-model="expanded2"
      bordered class="rounded-borders  q-ma-xl  cardStyleGray"
        expand-separator
        icon="perm_identity"
        header-class="text-grey"
        :label="'Done ' + activeClients"
        :caption="''"
      >
<ClientComponent
:users="{}"
>

</ClientComponent>
      </q-expansion-item>

  <q-expansion-item
        v-model="expanded3"
       bordered class="rounded-borders  q-ma-xl  card-style-inhurry"
        :class="{cardStyleInhurry:expanded3, cardStyleGray:!expanded3}"
        expand-separator
        icon="perm_identity"
        header-class="text-red"
        :label="'In hurry ' + activeClients"
        :caption="''"
      >
<ClientComponent
:users="{}"
>

</ClientComponent>
      </q-expansion-item>
-->
  </q-page>

</template>

<script>
import ClientComponent from 'components/ClientComponent.vue'

import { mapState, mapActions } from 'vuex'

const activeCls = [
  {
    name: 'd',
    fam: 'd'
  },
  {
    name: 'g',
    fam: 's'
  },
  {
    name: 'ddfsfd',
    fam: 'qsfB'
  }
]

export default {
  components: { ClientComponent },
  data () {
    return {
      tnmr: '',
      gender: 'male',
      email: '',
      name: '',
      sliders: false,
      activeClients: activeCls.length,
      lastdate: 'Active clients',
      expanded1: false,
      expanded2: false,
      expanded3: false,
      expandAll: false,
      activeCls: activeCls
    }
  },
  watch: {
    expandAll () {
      if (this.expandAll) {
        this.expanded1 = true
        this.expanded2 = true
        this.expanded3 = true
      } else {
        this.expanded1 = false
        this.expanded2 = false
        this.expanded3 = false
      }
    }

  },
  computed: {
    ...mapState('clientStore', ['clients']),
    activeUsers () {
      return this.user
    },
    id () {
      if (this.clients.clients === undefined || this.clients.clients === null) {
        return 1
      } else {
        return Object.keys(this.clients.clients).length + 1
      }
    }

  },
  methods: {
    ...mapActions('clientStore', ['syncClients', 'addClient']),
    addClientAndLeave () {
      this.addClient({ id: this.id, name: this.name, email: this.email, tnmr: this.tnmr, gender: this.gender })
      this.sliders = false
      this.tnmr = ''
      this.gender = 'male'
      this.email = ''
      this.name = ''
    },
    addClientAndClear () {
      this.addClient({ id: this.id, name: this.name, email: this.email, tnmr: this.tnmr, gender: this.gender })
      this.tnmr = ''
      this.gender = 'male'
      this.email = ''
      this.name = ''
    },
    close () {
      this.tnmr = ''
      this.gender = 'male'
      this.email = ''
      this.name = ''
      this.sliders = false
    }

  },
  mounted () {
    this.syncClients()
  }

}
</script>

<style lang="stylus" scoped>
.cardstyle{
-webkit-box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
-moz-box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
box-shadow: -4px 0px 53px -21px rgba(124,245,115,1);
}
.cardStyleGray{
-webkit-box-shadow: -4px 0px 53px -21px grey;
-moz-box-shadow: -4px 0px 53px -21px grey;
box-shadow: -4px 0px 53px -21px grey;
}
.cardStyleInhurry{
-webkit-box-shadow: -4px 0px 53px -21px red;
-moz-box-shadow: -4px 0px 53px -21px red;
box-shadow: -4px 0px 40px -21px red;
}
.q-icon.addClient:hover, .search:hover{
color:  #ffc800;
}
.q-item{
  margin-top : 0.4rem;
  }
</style>
