<template>
  <q-page class="flex ">
<h5>Index page
  {{user}}
</h5>

  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  created  () {

  },
  data () {
    return {
      login: '',
      password: '',
      dense: false,
      isPwd: true,
      inception: false

    }
  },
  computed:
     { ...mapState('userStore', ['settings', 'user']) },

  methods: {
    ...mapActions('clientStore', ['syncClients'])

  }
}
</script>
