<template>
    <q-card>
    <q-card-section v-if="users.clients !== null">
      <q-list >
      <q-item clickable v-ripple v-for="(value, key) in users.clients" :key="value.email">

        <q-item-section avatar top>
          <q-avatar  class="avatarGender" v-if="value.gender === 'female'" icon="fas fa-female"  color="primary"  text-color="grey-8" />
         <q-avatar  class="avatarGender" v-else icon="fas fa-male" color="grey-8"  text-color="primary"/>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">{{value.name}}</q-item-label>
          <q-item-label caption>{{value.familiename}}</q-item-label>
        </q-item-section>
    <q-item-section class="gt-xs">
          {{value.Tnmr}}
        </q-item-section>
         <q-item-section class="">

<div class="row justify-center">
     <a :href="'tel:' + value.Tnmr" draggable="false">
             <q-icon name="call" size="sm" class="q-pa-sm call" />
          </a>
            <a :href="'mailto:' + value.email+'?SUBJECT=techchamp.be'" draggable="false">

             <q-icon name="mail" size="sm" class="q-pa-sm call" />
          </a>
</div>

        </q-item-section>

        <q-item-section side>
          <q-icon class="remove q-pa-sm" size="sm" @click="remove(key)" name="delete" />
        </q-item-section>
      </q-item>

    </q-list>

      </q-card-section>

      <q-card-section v-else class="">
        <div class="row justify-center q-mt-md">
        <p class=""> {{message}}</p>
        </div>
      </q-card-section>
        </q-card>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ClientComponent',
  props: {
    users: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      message: 'No clients'
    }
  },
  methods: {
    ...mapActions('clientStore', ['removeClient']),
    alert () {
      alert('gs')
    },
    remove (e) {
      this.removeClient(e)
    }
  }
}
</script>

<style lang="stylus" scoped>
.q-icon.remove:hover {
color: red;
}
.q-icon.call{
  color: #ffc800;
}
.q-icon.call:hover{
  color: green;
}
.avatarGender {

}
a{
  text-decoration: none;
}
</style>
