<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {

  name: 'App',
  methods: { ...mapActions('userStore', ['handeleAuthStateChange']) },
  created () {
    this.handeleAuthStateChange()
  }
}
</script>

<style lang="stylus">
 html {
  --scrollbarBG: white;
  --thumbBG: #ffc000;
}
body::-webkit-scrollbar {
  width: 9px;
  opacity : 0.83;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  opacity : 0.83;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 1.3px solid var(--scrollbarBG);
    opacity : 0.83;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.q-toolbar__title, .q-footer {
  font-family: 'PT Serif', serif;
}
</style>
