<template  >
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
 <!-- <div v-if="path"> -->

        <q-toolbar-title class="absolute-center ">
        <div @click="$router.push('/'+$route.params.uname)">Pro TechChamp</div>
        </q-toolbar-title>
        <div class="absolute-right">
        <q-btn  flat    round dense icon="menu"
          @click="leftDrawerOpen= true" class="q-ma-sm lt-md">
          </q-btn>
        <q-btn  flat    round dense icon="settings"
          @click="logout" class="q-ma-sm flex-right gt-md">

          </q-btn>

        </div>

 <!-- </div> -->
      <!--  <div>Quasar v{{ $q.version }}</div> -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
        <marquee direction=""  bgcolor="">{{info}}</marquee>
        </q-item-label>

      <q-item-label
          header
          class="text-grey-8 absolute-bottom"
        >
          Logged in as: {{uname}}
          <q-btn class="lt-md" round @click="logout" size="sm" color="yellow"  icon="fas fa-sign-out-alt" /><br>
          Joined from: {{browserName}} <br>
          Language: {{language}} <br>
          Date: {{dateOfToday}}<br>
          Time: {{time}}

        </q-item-label>

        <div class="">
             <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        </div>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import { mapActions } from 'vuex'
import { firebaseAuth } from 'boot/firebase'
var date = new Date()

export default {
  name: 'MainLayout',

  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Home',
          caption: '',
          icon: 'home',
          link: '#/' + this.$route.params.uname
        },
        {
          title: 'Clients',
          caption: 'Client info',
          icon: 'people',
          link: '#/' + this.$route.params.uname + '/clients'
        },
        {
          title: 'Stock',
          caption: 'Items in stock',
          icon: 'stock',
          link: '#/' + this.$route.params.uname + '/stock'
        }
      ],
      language: this.$q.lang.getLocale().slice(0, 2).toUpperCase(),
      browserName: this.capitalizeFirstLetter(this.$q.platform.is.name),
      dateOfToday: date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear(),
      time: date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds(),
      info: this.$route.params.uname + 'u hebt nog 5 Iphone schermen'

    }
  },
  computed: {
    path () {
      const currentPath = this.$route.fullPath
      if (currentPath === '/') return false
      else return true
    },
    uname () {
      return this.$route.params.uname
    }
  },
  methods: {
    capitalizeFirstLetter (string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    ...mapActions('userStore', ['logOut']),
    logout () {
      this.logOut()
    }

  },
  beforeMount () {
    setInterval(() => {
      date = new Date()
      this.dateOfToday = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear()
      this.time = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
    }, 1000)
    if (firebaseAuth.currentUser === null) {
      this.$router.push('/')
    }
  }
}
</script>
<style lang="stylus">
.q-header {
  opacity : 0.8;
  color:black;
}
</style>
