<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
 <!-- <div v-if="path"> -->

        <q-toolbar-title class="absolute-center" @click='to="/index/"'>
          Pro TechChamp
        </q-toolbar-title>
 <!-- </div> -->
      <!--  <div>Quasar v{{ $q.version }}</div> -->
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="footer" elevated>
      <div class="row justify-center q-my-xs">
        Copyright © 2020 TechChamp.be
      </div>

    </q-footer>

  </q-layout>
</template>

<script>
import { firebaseAuth } from 'boot/firebase'

export default {
  name: 'MainLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  },
  computed: {
    path () {
      const currentPath = this.$route.fullPath
      if (currentPath === '/') return false
      else return true
    }
  },
  beforeMount () {
    if (firebaseAuth.currentUser !== null) {
      this.$router.push(this.$route.fullPath)
    }
  }
}
</script>
<style lang="stylus">
.q-header {
  opacity : 0.83;
  color:black;
}
.footer{
    opacity : 0.83;
  color:black;
}
</style>
